//colors
$black_60: rgba(0, 0, 0, 0.6);
$cod_gray: #0b0b0b;
$color_celeste_approx: #ccc;
$white: #fff;
$color_mine_shaft_approx: #333;
$color_cape_cod_approx: #3f3f3f;
$black: #000;
$color_tundora_approx: #444;
$color_silver_approx: #bdbdbd;
$color_concrete_approx: #f3f3f3;

//fonts
$font_0: Arial;
$font_1: Baskerville;
$font_2: monospace;

//@extend-elements
//original selectors
//button.mfp-close, button.mfp-arrow
%extend_1 {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  touch-action: manipulation;
}

//original selectors
//.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close
%extend_2 {
  color: $white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

//original selectors
//.mfp-arrow:before, .mfp-arrow:after
%extend_3 {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}


.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: $cod_gray;
  opacity: 0.8;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur {
  cursor: zoom-out;
  .mfp-image-holder .mfp-close {
    cursor: zoom-out;
  }
}
.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}
.mfp-close {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: $white;
  font-style: normal;
  font-size: 28px;
  font-family: $font_0, $font_1, $font_2;
  &:hover {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }
  &:active {
    top: 1px;
  }
}
.mfp-arrow {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  &:active {
    margin-top: -54px;
  }
  &:hover {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }
  &:before {
    @extend %extend_3;
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
  }
  &:after {
    @extend %extend_3;
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
  }
}
.mfp-preloader {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  color: $color_celeste_approx;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
  a {
    color: $color_celeste_approx;
    &:hover {
      color: $white;
    }
  }
}
.mfp-counter {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  color: $color_celeste_approx;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-hide {
  display: none !important;
}
button {
  &.mfp-close {
    @extend %extend_1;
  }
  &.mfp-arrow {
    @extend %extend_1;
  }
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-image-holder {
  .mfp-close {
    @extend %extend_2;
  }
  .mfp-content {
    max-width: 100%;
  }
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
  .mfp-close {
    @extend %extend_2;
    top: -40px;
  }
  .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
  }
}
.mfp-arrow-left {
  left: 0;
  &:after {
    border-right: 17px solid $white;
    margin-left: 31px;
  }
  &:before {
    margin-left: 25px;
    border-right: 27px solid $color_cape_cod_approx;
  }
}
.mfp-arrow-right {
  right: 0;
  &:after {
    border-left: 17px solid $white;
    margin-left: 39px;
  }
  &:before {
    border-left: 27px solid $color_cape_cod_approx;
  }
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 8px $black_60;
    background: $black;
  }
}
.mfp-figure {
  line-height: 0;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 8px $black_60;
    background: $color_tundora_approx;
  }
  small {
    color: $color_silver_approx;
    display: block;
    font-size: 12px;
    line-height: 14px;
  }
  figure {
    margin: 0;
  }
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: $color_concrete_approx;
  word-wrap: break-word;
  padding-right: 36px;
}
@media screen and(max-width: 800px) and(orientation: landscape), screen and(max-height: 300px) {
  .mfp-img-mobile {
    .mfp-image-holder {
      padding-left: 0;
      padding-right: 0;
    }
    .mfp-figure {
      &:after {
        top: 0;
        bottom: 0;
      }
      small {
        display: inline;
        margin-left: 5px;
      }
    }
    .mfp-bottom-bar {
      background: $black_60;
      bottom: 0;
      margin: 0;
      top: auto;
      padding: 3px 5px;
      position: fixed;
      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing: border-box;
      &:empty {
        padding: 0;
      }
    }
    .mfp-counter {
      right: 5px;
      top: 3px;
    }
    .mfp-close {
      top: 0;
      right: 0;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background: $black_60;
      position: fixed;
      text-align: center;
      padding: 0;
    }
    img.mfp-img {
      padding: 0;
    }
  }
}
@media all and(max-width: 900px) {
  .mfp-arrow {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: 0;
  }
  .mfp-arrow-right {
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
.mfp-close-btn-in .mfp-close {
  color: $color_mine_shaft_approx;
}
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
