<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="text-center">
        <h1 class="h1"><%= @item.title %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12 text-center mt-3 p-0">
      <div class="imt-item_container">
        <div class="imt-item_image">
          <img class="mw-100" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=349f0586d07c10fdf29da504276b5407&auto=format&fit=crop&w=1500&q=80" alt="">
        </div>
        <div class="heart_container">
          <div class="heart">
            <p class="heart-count">999</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 mt-3">
      <div class="imt-article_header">
        <div class="imt-icon-image">
          <img class="btn-circle icon-circle" src="http://pbs.twimg.com/profile_images/1017250947943288833/nWv0pOVM_normal.jpg">
        </div>
      </div>
      <div class="imt-article_body">
        <div class="imt-text_container">
          <p class="imt-text">メロスは激怒した。必ず、かの邪智暴虐じゃちぼうぎゃくの王を除かなければならぬと決意した。<br>
            メロスには政治がわからぬ。メロスは、村の牧人である。笛を吹き、羊と遊んで暮して来た。けれども邪悪に対しては、<br>
            人一倍に敏感であった。きょう未明メロスは村を出発し、野を越え山越え、十里はなれた此このシラクスの市にやって来た。<br>
            メロスには父も、母も無い。女房も無い。十六の、内気な妹と二人暮しだ。この妹は、村の或る律気な一牧人を、近々、花婿はなむことして迎える事になっていた。<br>
            結婚式も間近かなのである。メロスは、それゆえ、花嫁の衣裳やら祝宴の御馳走やらを買いに、はるばる市にやって来たのだ。<br>
            先ず、その品々を買い集め、それから都の大路をぶらぶら歩いた。メロスには竹馬の友があった。セリヌンティウスである。<br>
            今は此のシラクスの市で、石工をしている。その友を、これから訪ねてみるつもりなのだ。久しく逢わなかったのだから、<br>
            訪ねて行くのが楽しみである。歩いているうちにメロスは、まちの様子を怪しく思った。ひっそりしている。もう既に日も落ちて、<br>
            まちの暗いのは当りまえだが、けれども、なんだか、夜のせいばかりでは無く、市全体が、やけに寂しい。のんきなメロスも、だんだん不安になって来た。<br>
            路で逢った若い衆をつかまえて、何かあったのか、二年まえに此の市に来たときは、夜でも皆が歌をうたって、まちは賑やかであった筈はずだが、<br>
            と質問した。若い衆は、首を振って答えなかった。しばらく歩いて老爺ろうやに逢い、こんどはもっと、語勢を強くして質問した。<br>
            老爺は答えなかった。メロスは両手で老爺のからだをゆすぶって質問を重ねた。老爺は、あたりをはばかる低声で、わずか答えた。「王様は、人を殺します。」
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12 mt-5 pl-5 pr-5 imt-comment_container">
      <p class="imt-content_title">もらったコメント一覧</p>
      <div class="imt-comment">
        <ul class="imt-comment_list list-unstyled imt-list_flex border-top border-secondary">
          <li class="imt-comment_listItem">
            <ul class="imt-comment_inner list-unstyled imt-list_flex">
              <li class="imt-comment_icon"><img class="btn-circle icon-circle" src="http://pbs.twimg.com/profile_images/1017250947943288833/nWv0pOVM_normal.jpg" width="28" height="28"></li>            
              <li class="imt-comment_text">コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。</li>
            </ul>          
          </li>
        </ul>
        <ul class="imt-comment_list list-unstyled imt-list_flex border-top border-secondary">
          <li class="imt-comment_listItem">
            <ul class="imt-comment_inner list-unstyled imt-list_flex">
              <li class="imt-comment_icon"><img class="btn-circle icon-circle" src="http://pbs.twimg.com/profile_images/1017250947943288833/nWv0pOVM_normal.jpg" width="28" height="28"></li>            
              <li class="imt-comment_text">コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。</li>
            </ul>          
          </li>
        </ul>
        <ul class="imt-comment_list list-unstyled imt-list_flex border-top border-secondary">
          <li class="imt-comment_listItem">
            <ul class="imt-comment_inner list-unstyled imt-list_flex">
              <li class="imt-comment_icon"><img class="btn-circle icon-circle" src="http://pbs.twimg.com/profile_images/1017250947943288833/nWv0pOVM_normal.jpg" width="28" height="28"></li>            
              <li class="imt-comment_text">コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。コメントが入ります。</li>
            </ul>          
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12 p-0">
      <form>
        <div class="form-group mb-0">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="コメント内容を記載">
        </div>
        <button type="submit" class="btn btn-comment">コメントを贈る</button>
      </form>
    </div>
  </div>
</div>