<div class="container">
<div class="row">
<div class="col-md-12">
<div class="card">
<img  class="imt-pickup_itemHeader_image" src="https://picsum.photos/1000/320">
</div>
<div class="card-body p-0">
<p class="font-weight-bold imt-pickup_item imt-tileItem_titleText u-fz-25 u-mt-24">【ドヤ】いい写真撮ったった<span class="day">2018/XX/XX</span></p>
<div class="imt-iconImage pt-3"><%= image_tag @user.image.to_s, class: 'rounded-circle' %></div>
<p class="pt-3">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
</div>
</div>
</div>
<div class="row mt-5">
<div class="col-md-12">
<ul class="list-unstyled">
  <li class="media mt-3">
    <img class="mr-3" src="https://picsum.photos/100/100" alt="Generic placeholder image">
    <div class="media-body">
      <p class="mt-0 mb-1">タイトルが入ります</p>
      ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー
    </div>
  </li>
  <li class="media mt-3">
    <img class="mr-3" src="https://picsum.photos/100/100" alt="Generic placeholder image">
    <div class="media-body">
      <p class="mt-0 mb-1">タイトルが入ります</p>
      ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー
    </div>
  </li>
  <li class="media mt-3">
    <img class="mr-3" src="https://picsum.photos/100/100" alt="Generic placeholder image">
    <div class="media-body">
      <p class="mt-0 mb-1">タイトルが入ります</p>
      ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー
    </div>
  </li>
</ul>
</div>
</div>
</div>