<div class="container">
<div class="row">
<div class="col-md-12">
<div class="card">
<img  class="imt-pickup_itemHeader_image" src="https://picsum.photos/640/320">
</div>
<div class="card-body">
<p class="imt-pickup_item imt-tileItem_titleText u-fz-25 u-mt-24">【ドヤ】いい写真撮ったった<span class="day">2018/XX/XX</span></p>
<div class="imt-iconImage"><%= image_tag @user.image.to_s, class: 'rounded-circle' %></div>
<p class="">ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
</div>
</div>
</div>
</div>
