<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="h1">Timeline</h1>
    </div>
  </div>
  <div class="row">
    <%= render partial: "items", locals: { items: @items } %>
  </div>
  <%= paginate @items %>
</div>
