<div class="container">
  <div class="l-tile l-tile-1col">
    <div class="l-tile_item imt-pickup_item">
      <div class="imt-pickup_itemHeader">
        <img  class="imt-pickup_itemHeader_image" src="https://picsum.photos/640/320">
        <div class="imt-iconImage"><%= image_tag @user.image.to_s, class: 'btn-circle' %></div>
      </div>
      <div class="imt-pickup_itemBody">
        <div class="imt-pickup_itemBody_head">
          <div class="imt-pickup_item imt-tileItem_titleText u-fz-25 u-mt-24">【ドヤ】いい写真撮ったった<span class="day">2018/XX/XX</span></div>
        </div>
        <div class="imt-pickup_item_content u-mt-24">
          <div class="imt-pickup_item_detail">みなさんは、自己紹介が得意ですか？ いきなり自己紹介と言われても、実際何を話していいか戸惑ったことも多いかと思います。
自己紹介は場合によっては運命を左右するぐらい大事です。特に就職活動、婚活では自己紹介力がないと致命的になるケースがあります。例えば就職活動では、３分程度の面接でみなさんの人柄が一瞬で左右されてしまうこともあります。やるせない世の中ですね。。。私（コミュニケーション講師川島）と一緒にこの難局を乗り切りましょう！</div>
          <div class="imt-pickup_item_tag">ハッシュタグ</div>
        </div>
      </div>
    </div>
  </div>
</div>
