// gems style import //
@import "bootstrap";
@import "font-awesome";

// Toppage
@import "valiables/variables";
@import "valiables/mixins";
@import "valiables/global";
@import "valiables/navbar";
@import "valiables/masthead";
@import "valiables/services";
@import "valiables/portfolio";
@import "valiables/bootstrap-overrides";
@import "valiables/magnific-popup";
@import "valiables/creative";

// 見て見てページ
@import "items";

// font faces import //
@font-face{
  font-family: "fontawesome-webfont";
  src: font-url('fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "fontawesome-webfont";
}
