// gems style import //
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

// font faces import //
@font-face{
  font-family: "fontawesome-webfont";
  src: font-url('fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "fontawesome-webfont";
}
