//resetcss
@import "normalize";

//settings
@import "mixin";
@import "utility";

// gems style import //
@import "bootstrap";
@import "font-awesome";

// Toppage
@import "top_pages";

// 見て見てページ
@import "items";

@import "timeline";

// font faces import //
@font-face{
  font-family: "fontawesome-webfont";
  src: font-url('fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "fontawesome-webfont";
}
