<h2>メールアドレスの変更</h2>

<p><%= @email %> さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= @resource.unconfirmed_email %>メールアドレスが変更されようとしています</p>
<% else %>
  <p><%= @resource.email %> へメールアドレスを変更しました。</p>
<% end %>

<p>※ このメールはSendGridを利用して送信しています。</p>
<p>※ リクエストしていない場合は、このメールを無視してください。</p>
<p>i-made-this事務局</p>
