<h2>パスワードの変更</h2>

<p><%= @resource.email %> さん</p>

<p>パスワードのリセット申請がありました。</p>
<p>変更する場合は下記のリンクをクリックしてパスワードを変更してください。</p>

<p><%= link_to '認証する', edit_password_url(@resource, reset_password_token: @token), class: "btn-primary registration-button" %></p>

<p>※ このメールはSendGridを利用して送信しています。</p>
<p>※ リクエストしていない場合は、このメールを無視してください。</p>
<p>i-made-this事務局</p>
