<h2>アカウント凍結解除</h2>

<p><%= @resource.email %> さん</p>

<p>過剰なログイン試行回数が原因でアカウントがロックされています。</p>
<p>下記のリンクをクリックしてアカウントのロックを解除してください。</p>

<p><%= link_to '認証する', unlock_url(@resource, unlock_token: @token), class: "btn-primary registration-button" %></p>

<p>※ このメールはSendGridを利用して送信しています。</p>
<p>※ リクエストしていない場合は、このメールを無視してください。</p>
<p>i-made-this事務局</p>
